

.big-banner{

 background-image: url(../images/eloise-ambursley-PmTrYifpz4g-unsplash.jpg);
 background-size: cover;
 
}
.card:hover {
    transform:scale(1.1);
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.middle-three{
    height: 80px;
    
    
}
